$primary: #1F487E;
$text: #fff;
$lightGrey: #ececec;


.addButton {
    background-color: $primary !important;
    width: 50px;
    height: 50px;
    position: absolute !important;
    bottom: 20px;
    right: 20px;
    &:hover {
        background-color: $lightGrey !important;
        svg {
            color: $primary !important;
        }
    }
    svg {
        width: 30px;
        height: 30px;
        color: $text !important;
        transition: all .3s ease !important;
    }
}
